.Header{
    background-color: #0b428b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}
.sub-header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #0b428b;
    padding-left: 17%;
}
.sub-header2{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 7px;
    margin-left: 65%;
}
#Get-the-App{
    width: 30%;
    background-color: rgb(255, 255, 255);
    color: black;
    border: 1px solid black;
}
.logo{
   width: 900%;
   height: 70%;
}
.sub-header2 > Button{
    height: 25px;
}
