.Header{
    height: 80px;
}
.sub-header{
    background-color: #0b428b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}
.sub-header1{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #0b428b;
    margin-left: 10%;
}
.sub-header2{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 7px;
    margin-right: 10%;
}

.sub-header2> #Get-the-App{
    padding: 2.5% 0%;
    width: 30%;
    background-color: rgb(250, 250, 250);
    color: black;
    border: 1px solid black;
}
.sub-header1 > img{
    height: 60px;
}
.sub-header2 > Button{
    height: 25px;
}
